<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> ISH BEAUTY |Home</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
	<div class = "image">
		<div class = "header">
			<div class="box">
                <input type="text" placeholder="Enter here to search..." name="search">
            </div>
		</div>
	</div>
</head>
<body>
	<div id="app">
		<div class="flex-row" id="navigation">
			<div class="flex-row">
				<img src="Cosmetics.svg" class="icon">
				<div><h1>ISH BEAUTY</h1></div>
			</div>
			<div class="flex-row" id="bigmenu">
				<div class="flex-row">
					<div class="">
						<img src="Articles.svg" class="icon">
						<h2 @click="toogleproduct">Articles</h2>
					</div>
					<span></span>
					<div class="mua">
						<img src="Read About Us.svg" class="icon">
						<h2 @click="toogleabout">Read About Us</h2>
					</div>
					<span></span>
					<div class="mua">	
						<img src="For help.svg" class="icon">
						<h2 @click="tooglecontact">For Help</h2>
					</div>
					<span></span>
				</div>
				<span></span>
				<div class="mua">
					<img src="Join us.svg" class="icon">
					<h2 @click="toogleJoinus">Join us</h2>
				</div>
				<span></span>
				<div id="cart" @click="iscart=!iscart">
					<div class="flex-row">
						<div class="mua">
							<img src="cart.svg" class="icon">
							<h2>Basket</h2>
						</div>
					</div>
					<div v-if="iscart" id="thecart">
						<ul v-for="item in cart">
							<li class="flex-row" style="justify-content: left">
			                  <div>{{item.qty}}</div>
			                  <span></span>
			                  <div>{{item.name}}</div>
			                  <span></span>
			                  <div>{{item.price}}</div>
			                </li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<button onclick="myFunction()">Confirm Your Order</button>
				<script>
					function myFunction() {
  						alert("THANK YOU FOR SHOPPING WITH US!");
					}
				</script>
			</div>
			<div class="dropdown">
  				<button class="dropbtn">Menu</button>
  				<div class="dropdown-content" style="padding: 10px;">
					<span></span>
					<h2 @click="toogleproduct">Products</h2>
					<h2 @click="toogleabout">Read About Us</h2>
					<h2 @click="tooglecontact">Contact Us</h2>
					<h2 @click="toogleJoinus">Log in</h2>
 				</div>
			</div>
			<div id="cart" class="cart2" @click="iscart=!iscart">
					<div class="flex-row">
						<div class="mua">
							<img src="cart.svg" class="icon">
							<h2>Cart</h2>
						</div>
					</div>
					<div v-if="iscart" id="thecart">
						<ul v-for="item in cart">
							<li class="flex-row" style="justify-content: left">
			                  <div>{{item.qty}}</div>
			                  <span></span>
			                  <div>{{item.name}}</div>
			                  <span></span>
			                  <div>{{item.price}}</div>
			                </li>
						</ul>
					</div>
				</div>
		</div>

		<div v-if="isproduct" id="products">
			<span></span>
			<!-- <h1>Products</h1> -->
			<hr>
			<div class="flex-row" id="navigation">
				<h2 class="mua" @click="tooglebaby">Baby Products</h2>
				<h2 class="mua" @click="tooglecosmetic">Cosmetics</h2>
				<h2 class="mua" @click="tooglehaircare">Hair Care</h2>
				<h2 class="mua" @click="toogleskincare">Skin Care</h2>
			</div>
			<br>
			<div v-if="isbaby">
				<div v-for="item in products" v-if="item.type=='baby'">
						<product-item :item="item" @add="add" @remove="remove"></product-item>
				</div>
			</div>
			<div v-if="iscosmetic">
				<div v-for="item in products" v-if="item.type=='cosmetic'">
						<product-item :item="item" @add="add" @remove="remove"></product-item>
				</div>
			</div>
			<div v-if="ishaircare">
				<div v-for="item in products" v-if="item.type=='haircare'">
						<product-item :item="item" @add="add" @remove="remove"></product-item>
				</div>
			</div>
			<div v-if="isskincare">
				<div v-for="item in products" v-if="item.type=='skincare'">
						<product-item :item="item" @add="add" @remove="remove"></product-item>
				</div>
			</div>
		</div>

		<div v-if="isabout">
			<div id="contact">
            	<div class="conh">
                READ ABOUT US
            	</div>
            	<div class="abox">
                	<div class="abtus">
                    	<div id=contact>
                    		<P>
                    			My website's goal is to assist users in making online cosmetic purchases. I'm attempting to build an active, user-friendly, website design with a variety of features. Basically, users can register for new accounts, link Joinus to their accounts, and add things to their shopping carts. Regular customers will receive intriguing deals. The ability to register for an account and make purchases online allows users to learn more about my website. There will be a large selection of items, including fully authentic herbal products, cosmetics, skin care, baby products, and overall hair care. Permanent website users will receive exclusive incentives and savings. Pay on Delivery is just one of the accepted choices.
								My website's main benefit, is that it makes it simple for customers to purchase essential medications without having to wait in a large line. The fact that sick or infected persons can remain in their residences and stop the transmission of infections is another advantage. A tool that allows users to keep track of their buying is the ability to display to customers the statistics of their periodic expenditures. There is a review form that a user can complete out to express their opinions and offer their thoughts so that we may grow and be productive in order to increase customer pleasure and meet corporate objectives.
								Lastly, the customers will receive the finest quality and satisfaction from this platform.
							</P>
                    	</div>
                	</div>
            	</div>
            </div>
		</div>

		<div v-if="iscontact">
			<div class="contact">
            	<div class="conh">
                	CONTACT US
            	</div>
            	<div class="cbox">
                	<div class="cont">
                    	<div id=contact>
                    		<div style="font-size: 26px" > {{company}}<br></div>
                        	&#9990; {{ ph }}<br>
                        	&#9993; {{ email }}<br>
                        	<img src="github.svg" class="icon1 ">
                        	<a href="https://github.com/ishitajoshi144" target="_blank">{{github}}</a><br>
                    	</div>
                	</div>
            	</div>
            </div>
        </div>

		<div v-if="isJoinus" >
			<!-- <h1>Joinus page</h1>
			<a class="sign_out" href="Joinus.html"><i class="fa fa-sign-out"></i>Sign out</a> -->
			<div class="logpage">
				<div class="wrapper">
			   		<div class="title-text">
						<div class="title Joinus">Join Ish Beauty</div>
						<div class="title signup">Signup Form</div>
					</div>
					<div class="form-container">
						<div class="slide1-controls">
							<input type="radio" name="slide1" id="Joinus" checked />
							<input type="radio" name="slide1" id="signup" />
					    	<label for="Joinus" class="slide1 Joinus">Joinus</label>
					    	<label for="signup" class="slide1 signup">Signup</label>
					    	<div class="slide1r-tab"></div>
						</div>
						<div class="form-inner">
					   		<form action="#" class="JoinUS">
						    	<div class="field">
						        	<input type="text" placeholder="Email Address" required />
						    	</div>
						    	<div class="field">
						        	<input type="password" placeholder="Password" required />
						    	</div>
						    	<div class="pass-link">
						        	<a href="#">Forgot password?</a>
						    	</div>
						    	<div class="field btn-form">
						        	<div class="btn-layer"></div>
						        	<div class="jOINUS1"><input type="submit" value="Joinus" /></div>
						            <!-- <input type="submit" value="Joinus" /> -->
						        </div>
						        <div class="signup-link">
						        	Not a member?
						        	<a href>Signup now</a>
						        </div>
					    	</form>
					    	<form action="#" class="signup">
					        	<div class="field">
					          		<input type="text" placeholder="Email Address" required />
					        	</div>
					        	<div class="field">
					            	<input type="password" placeholder="Password" required />
					        	</div>
					        	<div class="field">
					            	<input type="password" placeholder="Confirm password" required />
					        	</div>
					        	<div class="field btn-form">
					            	<div class="btn-layer"></div>
					            	<input type="submit" value="Signup" />
					        	</div>
					   		</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>